.card-edit{
    border: 0;
}
.card-footer-edit{
    background-color: white;
    border: 0;
}
.carousel-bg-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.img-size{
    width: 100px;
}